## remove "example" in this file suffix
## create a key with value like the following
## name your key "testsignature"
## put your key in root project directory
## rebuild the project and you are ready
storePassword=testsignature
keyPassword=testsignature
keyAlias=testsignature
storeFile=../testsignature